.bgColor{
    background-color: #FCEAE8;
}
.btnColor{
    background: linear-gradient(#FF4F95, #FF2178);
}
.categoryBg1{
    background-color: #FFC107;
}
.categoryBg2{
    background-color: #198754;
}
.categoryBg3{
    background-color: #0D6EFD;
}